[submodule "third_party/ndb"]
	path = third_party/ndb
	url = https://github.com/ads00/ndb.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/nds"]
	path = third_party/nds
	url = https://github.com/ads00/nds.git
[submodule "module/nxi.module"]
	path = module/nxi.module
	url = https://github.com/neuroshok/nxi.module.git
